input .searchBox {
  margin: 0 auto;
  border-radius: 5px;
  border: solid;
  height: 40px;
  width: 400px;
  margin-top: 50px;
  font-style: oblique;
  font-weight: bold;
  font-size: large;
  padding: 0 10px;
  border-radius: 10px;
  border-color: rgba(6, 39, 3, 0.24);
  background: #1abc9cb2;
}

.searchBox:hover,
.searchBox:focus {
  background: rgba(169, 169, 169, 0.377);
  outline: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}
